<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Portfolio Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  {% load static %}

  <!-- Favicons -->
  <link href="{% static 'img/portfolio-fav.png' %}" rel="icon">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <!--   font-awesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">


</head>

<body class="portfolio-details-page">

  <header id="header" class="header d-flex flex-column justify-content-center">

    <i class="header-toggle d-xl-none bi bi-list"></i>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="/#hero"><i class="bi bi-house navicon"></i><span>Home</span></a></li>
        <li><a href="/#about"><i class="bi bi-person navicon"></i><span>About</span></a></li>
        <li><a href="/#resume"><i class="bi bi-file-earmark-text navicon"></i><span>Resume</span></a></li>
        <li><a href="/#portfolio"><i class="bi bi-images navicon"></i><span>Portfolio</span></a></li>
        <li><a href="/#services"><i class="bi bi-hdd-stack navicon"></i><span>Services</span></a></li>
        <li><a href="/#contact"><i class="bi bi-envelope navicon"></i><span>Contact</span></a></li>
      </ul>
    </nav>

  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="container">
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/">Home</a></li>
            <li class="current">Portfolio Details</li>
          </ol>
        </nav>
        <h1>Portfolio Details</h1>
      </div>
    </div><!-- End Page Title -->

    <!-- Portfolio Details Section -->
    <section id="portfolio-details" class="portfolio-details section">

      <div class="container" data-aos="fade-up">

        <div class="portfolio-details-slider swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "navigation": {
                "nextEl": ".swiper-button-next",
                "prevEl": ".swiper-button-prev"
              },
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">

            <div class="swiper-slide">
            <img src="{% static 'img/portfolio-pics/newspaper-site/newspaper-site-1.jpg' %}" class="img-fluid" alt="newspaper-site 1">
            </div>

          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-pagination"></div>
        </div>

        <div class="row justify-content-between gy-4 mt-4">

          <div class="col-lg-8" data-aos="fade-up">
            <div class="portfolio-description">
            <h2>This is an example of portfolio details</h2>
          <p>
          This project showcases a comprehensive newspaper site, designed to provide an engaging and informative user experience. The site features a clean and modern design, focusing on readability and easy navigation. Key components include dynamic content loading, a user-friendly comment system, and seamless social media integration, making it easy for visitors to stay informed and share the latest news.
        </p>


            <p>
              The newspaper site is fully responsive, ensuring it looks great on all devices, from desktops to smartphones. It also includes advanced features such as search functionality, category filtering, and a user-friendly content management system to facilitate easy updates and content creation. Users can sign up to become newspaper-gers, allowing them to create and manage their own content, while visitors can enjoy browsing and interacting with the site’s content.
            </p>

              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>"Sajjad's work on the newspaper site is outstanding. His design and development skills are top-notch. He added user sign-up system for visitors and newspaper-gers resulting in a user-friendly and visually appealing platform. The site's functionality and responsiveness are particularly impressive. I highly recommend Sajjad for any web development project."</span>
                    <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <div>
                  <img src="{% static 'img/portfolio-pics/newspaper-site/nizam.png' %}" class="testimonial-img" alt="">
                  <a href="https://github.com/Nizamthakur">
                  <h3>Nizam Thakur</h3></a>
                  <h4>React Django Developer</h4>
                </div>
              </div>

            </div>
          </div>

          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>Daily News Paper</li>

                <li><strong>Project date</strong> September, 2024</li>
                <li><strong>Project URL</strong> <a href="https://www.aronnonews.com/">www.aronnonews.com</a></li>
                <li><a href="#" class="btn-visit align-self-start">Visit Website</a></li>
              </ul>
            </div>
          </div>

        </div>

      </div>

    </section><!-- /Portfolio Details Section -->

  </main>

<footer id="footer" class="footer position-relative light-background">
    <div class="container">
        <h3 class="sitename">Sajjad Ahmed Anik</h3>
     <p style="font-family: 'Mrs Eaves', serif; font-style: italic; font-size: 20px;">Believe in Providing Clients better support with care</p>
       <div class="social-links d-flex justify-content-center">
            <a href="https://x.com/sajjad_anik588"><i class="bi bi-twitter-x"></i></a>
            <a href="https://www.facebook.com/sa.anik24"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/_sajjad.anik_/"><i class="bi bi-instagram"></i></a>
            <a href="https://wa.me/8801626476168"><i class="bi bi-whatsapp"></i></a>
            <a href="https://www.linkedin.com/in/sa-anik-a803b2193/"><i class="bi bi-linkedin"></i></a>
        </div>
        <div class="container">
            <div class="copyright">
                <span>Copyright & Designed by</span> <strong class="px-1 sitename">Sajjad Ahmed Anik</strong> <span>All Rights Reserved</span>
            </div>
            <div class="credits">
              <a href="https://www.teccmark.com"><h3>teccmark</h3></a>
            </div>
        </div>
    </div>
</footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/typed.js/typed.umd.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
